
/***** General Styles *****/

* {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}

html { 
    background: url(photos/mountain-snow.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin: auto;
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    margin: 0;
}

button {
    margin: 20px;
    color: #ffffff;
    background-color: #b60a0a;
    border: none;
    box-shadow: 3px 3px 5px #D3D3D3;
}

button, input[type="text"] {
    padding: 8px;
}

button:hover {
    cursor: pointer;
    background: #FE340B;
}

button #submit-answer {
    margin-top: 0;
}


/***** Start Page *****/

header {
    /* margin-top: 175px; */
}

header h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.header-test {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5em;
    border-top: 2px solid #b60a0a;
    padding-top: 15px;
}


.rules {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: left;
}

li {
    text-align: left;
    padding-left: 0.5em;
    text-indent: -1em;
}


/***** Quiz Page *****/
fieldset {
    border: 5px solid #FFC600;
}

.status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    font-weight: bold;
}

.question {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 25px;
    margin-bottom: 0.75em;
}

.option {
    padding-right: 50px;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

form input[type="radio"] {
    margin-bottom: 10px;
    margin-right: 0.8em;
}


/***** Feedback Page *****/
.answer {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.7em;
    padding: 0.35em;
    background-color: #FCF300;
}


/***** Results Page *****/
.snowboarder {
    width: 200px;
    height: 100px;
}

.final-score {
    font-size: 2em;
    font-weight: bold;
}

.snowboard {
    width: 250px;
    height: 50px;
}

.results-message {
    margin-top: 1em;
}


/***** Groups & Items  (Desktop) *****/

/* When a web browser is larger than 600px,
   apply these rules */
@media all and (min-width: 700px) {
    header h1 {
        font-size: 2.25rem;
    }

    .header-test {
        font-size: 1.5rem;
    }
}