/** 
https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
*/


/***** General Styles *****/

* {
    box-sizing: border-box;
    /* font-family: ; */
}

html { 
    background: url(photos/mountain-snow.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin: auto;
    width: 70%;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

body {
    font-family: ;
    margin: 0;
}

header {
    /* background-color: gray; */
    text-align: center;
    text-transform: uppercase;
}

h1 {
    
}

/* h3 {
    text-align: left;
} */

li {
    text-align: left;
}

button {
    color: #ffffff;
    background-color: rgba(182, 10, 10);
}

button, input[type="text"] {
    padding: 8px;
}

button:hover {
    cursor: pointer;
}







/***** Quiz Page *****/
.status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    font-weight: bold;
}

.question {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 25px;
}

.quiz-options {
    /* display: flex;
    flex-direction: column; */
    /* text-align: left; */
}


/***** Form *****/

form input[type="radio"] {
    /* font-size: 16px; */
    margin-bottom: 20px;

}

form input[type="radio"] + label {
    display: inline;
    padding-right: 1em;
    /* display: flex;
    flex-direction: column; */
    /* color: #000;
    font-size: 16px; */
}




/***** Groups & Items  (Desktop) *****/

/* When a web browser is larger than 600px,
   apply these rules */
   /* @media all and (min-width: 600px) {

   } */